VITE_FIREBASE_API_KEY=AIzaSyBWv-Vf_c9bmZRVUc-G_jrF60f3-SN-XdA
VITE_FIREBASE_AUTH_DOMAIN=kavexa-ops.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=kavexa-ops
VITE_FIREBASE_STORAGE_BUCKET=kavexa-ops.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=196784445155
VITE_FIREBASE_APP_ID=1:196784445155:web:772049e0fa578afc1a97d6
VITE_FIREBASE_MEASUREMENT_ID=G-FNXK397L64
